{{extend 'layout.html'}}
 <h1>
    <table align="center">
    <tr><th>Nombres y Apellidos</th><th>Carne</th><th>Rol</th></tr>
    <tr><td>Dayton Estuardo Garcia Montufar</td><td> 200915754</td><td>Scrum Master</td></tr>
    <tr><td>Erick Bryan Suy Miranda</td><td>          201222638</td><td>Product Owner</td></tr>
    <tr><td>Lester Enrique Tzoc Soc </td><td>       201213456</td><td>Scrum Team</td></tr>
    <tr><td>Daniel Alexander Cos Pirir   </td><td>    201213295</td><td>Scrum Team</td></tr>
    <tr><td>Rocael Eduardo Isidro Sebastian </td><td> 201114159</td><td>Scrum Team</td></tr>
    </table>
</h1>
{{=BEAUTIFY(response._vars)}}
